Repository jack-weilage/chronosis: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc

prettier:
  run: bun x prettier --cache --write {staged_files} && git add {staged_files}

tsc:
  run: bun x tsc

Fix errors?
  .github/workflows/benchmark.yml
Due: prettier

Add initial bench data
  docs/docs/benchmarks/data.json
Due: prettier

Update gitignore
  .gitignore
Due: none

Migrate from `prettier` to `biome`
  .github/workflows/ci.yml
  .prettierrc.json
  biome.jsonc
  bun.lockb
  lefthook.yml
  package.json
Due: prettier

Update deps
  bun.lockb
  package.json
Due: prettier

Remove partially broken rule
  biome.jsonc
Due: none

Add benchmarks and docs to workspaces
  .github/workflows/ci.yml
  bun.lockb
  package.json
Due: prettier

Update docs to docusaurus v3
  docs/bun.lockb
  docs/docs/display/format/TableRow.tsx
  docs/docusaurus.config.js
  docs/package.json
Due: prettier

Run linter/formatter
  __tests__/add.test.ts
  __tests__/set.test.ts
  __tests__/subtract.test.ts
  benchmarks/src/index.ts
  docs/docs/display/format/FormatTable.tsx
  docs/docs/display/format/format.mdx
  scripts/convert.ts
  src/index.ts
  src/utils.ts
Due: prettier, tsc

Private benchmark workspace
  benchmarks/bun.lockb
  benchmarks/package.json
Due: prettier

Add version to benchmarks for workspace
  benchmarks/package.json
Due: prettier

Path conditions:
  prettier: any of: *.{ts,json,md,yml}
  tsc: any of: *.ts
