Repository jack-weilage/chronosis: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc

lefthook.yml:

pre-push:
  parallel: true
  commands:
    size:
      run: bun run scripts/size.ts
    test:
      run: bun test --coverage

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,json,md,yml}'
      run: bun x prettier --cache --write {staged_files} && git add {staged_files}
    test:
      run: bun test --coverage
    tsc:
      glob: '*.ts'
      run: bun x tsc

Create GitHub Pages deployment
  .github/workflows/deploy.yml
Due: prettier

Create GitHub Pages deployment
  .github/workflows/deploy.yml
  docs/bun.lockb
  docs/pnpm-lock.yaml
  package.json
Due: prettier

Create size workflow
  .github/workflows/size.yml
Due: prettier

Add `clean` script
  bun.lockb
  package.json
Due: prettier

Add `clean` script
  .github/workflows/size.yml
Due: prettier

Remove `clean` script
  .github/workflows/size.yml
  bun.lockb
  package.json
Due: prettier

Fix lint error
  docs/docs/display/format/FormatTable.tsx
Due: none

Fix some more lint issues
  benchmarks/src/index.ts
  tsconfig.json
Due: prettier, tsc

Prepare for `js.org` domain
  docs/docusaurus.config.js
  docs/static/CNAME
Due: none

Use a `unit` -> `func` map to aid compression
  .changeset/long-islands-pretend.md
  src/index.ts
  src/utils.ts
Due: prettier, tsc

Fix pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

Implement CJS imports
  .changeset/mean-brooms-fry.md
  .github/workflows/size.yml
  package.json
  scripts/convert.ts
Due: prettier, tsc

Update docs
  docs/docs/introduction.md
Due: prettier

Add links to documentation website
  src/index.ts
Due: prettier, tsc

Create CNAME
  CNAME
Due: none

Create CNAME
  docs/CNAME
Due: none

Attempt to fix Pages deployment
  docs/index.html
Due: none

Delete test page
  docs/index.html
Due: none

Add links to README
  README.md
Due: prettier

Properly validate inputs for manipulation functions
  .changeset/moody-eggs-taste.md
  .changeset/violet-maps-push.md
  __tests__/add.test.ts
  __tests__/get.test.ts
  __tests__/set.test.ts
  __tests__/subtract.test.ts
  docs/docs/manipulation/add.md
  docs/docs/manipulation/get.md
  docs/docs/manipulation/set.md
  docs/docs/manipulation/subtract.md
  src/index.ts
Due: prettier, tsc

Use `clone` instead of manually copying
  src/index.ts
Due: prettier, tsc

Optimize `startOf`, `endOf`, and `isValid`
  .changeset/plenty-dogs-love.md
  __tests__/isValid.test.ts
  src/index.ts
Due: prettier, tsc

Fix 12am/12pm being formatted as '0'
  .changeset/stale-dodos-work.md
  __tests__/format.test.ts
  src/index.ts
Due: prettier, tsc

Update deps
  bun.lockb
  package.json
  tsconfig.json
Due: prettier

Optimize 0 -> 12 code
  src/index.ts
Due: prettier, tsc

Properly name capture group and simplify if statement
  src/index.ts
Due: prettier, tsc

Show benchmark results in documentation
  docs/bun.lockb
  docs/docs/benchmarks/BenchmarkList.tsx
  docs/docs/benchmarks/_category_.json
  docs/docs/benchmarks/benchmarks.mdx
  docs/docs/display/format/TableRow.tsx
  docs/docs/introduction.md
  docs/package.json
Due: prettier

Run format
  docs/docs/benchmarks/benchmarks.mdx
Due: none

Allow workflow to run on push
  .github/workflows/benchmark.yml
Due: prettier

Simplify committing
  .github/workflows/benchmark.yml
Due: prettier
