Repository jack-weilage/chronosis: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc

lefthook.yml:

pre-push:
  parallel: true
  commands:
    size:
      run: bun run scripts/size.ts
    test:
      run: bun test --coverage

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,json,md,yml}'
      run: bunx prettier --cache --write {staged_files} && git add {staged_files}
    test:
      run: bun test --coverage
    tsc:
      glob: '*.ts'
      run: bunx tsc

Quick cleanup
  .github/workflows/ci.yml
  README.md
Due: prettier

Only publish `lib` and `README`
  package.json
Due: prettier

Initial release
  .changeset/proud-experts-breathe.md
Due: prettier

Clean up release
  .changeset/config.json
  .changeset/four-pants-crash.md
  package.json
Due: prettier

Add MIT license
  LICENSE
  package.json
Due: prettier

Configure dependabot
  .github/dependabot.yml
Due: prettier

Import package from NPM
  benchmarks/bun.lockb
  benchmarks/package.json
  benchmarks/src/index.ts
Due: prettier, tsc

Fix possible regex DOS
  .changeset/ten-tomatoes-explain.md
  src/index.ts
Due: prettier, tsc

Clean up shields images
  README.md
Due: prettier

Only prompt for locale where absolutely necessary
  .changeset/little-knives-tease.md
  src/index.ts
Due: prettier, tsc

Don't generate sourcemap for each release
  .changeset/tall-files-battle.md
  benchmarks/bun.lockb
  bun.lockb
  package.json
  scripts/size.ts
Due: prettier, tsc

Update branding, attempt to fix README
  .github/assets/bench.gif
  .github/assets/logo-dark.svg
  .github/assets/logo-light.svg
  .github/assets/logo.svg
  README.md
Due: prettier

Update branding, attempt to fix README
  .github/assets/logo.svg
Due: none

Update branding, attempt to fix README
  .github/assets/logo.png
  .github/assets/logo.svg
  README.md
Due: prettier

Update branding, attempt to fix README
  lefthook.yml
Due: prettier

Add tests for i18n format
  __tests__/format.test.ts
Due: prettier, tsc

Remove checks for invalid set inputs
  .changeset/nine-beers-lick.md
  __tests__/isValid.test.ts
  src/index.ts
Due: prettier, tsc

Compare latest version to current code
  benchmarks/bun.lockb
  benchmarks/package.json
  benchmarks/src/index.ts
Due: prettier, tsc

Perform gzip witchcraft and save a few bytes
  src/index.ts
Due: prettier, tsc

Switch to an immutable API
  .changeset/slimy-pots-sleep.md
  README.md
  __tests__/add.test.ts
  __tests__/clone.test.ts
  __tests__/format.test.ts
  __tests__/set.test.ts
  __tests__/subtract.test.ts
  src/index.ts
Due: prettier, tsc

Default to milliseconds for `add` and `subtract`
  .changeset/early-ants-camp.md
  __tests__/add.test.ts
  __tests__/subtract.test.ts
  src/index.ts
Due: prettier, tsc

Test for immutability
  __tests__/add.test.ts
  __tests__/endOf.test.ts
  __tests__/set.test.ts
  __tests__/startOf.test.ts
  __tests__/subtract.test.ts
Due: prettier, tsc

Remove `set(date)`
  .changeset/warm-donkeys-cover.md
  __tests__/set.test.ts
  src/index.ts
Due: prettier, tsc

Update documentation for immutability
  src/index.ts
Due: prettier, tsc

Clean up changelogs
  .changeset/slimy-pots-sleep.md
  .changeset/warm-donkeys-cover.md
Due: prettier

Implement `toDate`
  .changeset/old-plants-look.md
  __tests__/cooersion.test.ts
  __tests__/get.test.ts
  src/index.ts
Due: prettier, tsc

Add beta warning
  README.md
Due: prettier

Add breaking warning
  .changeset/old-plants-look.md
Due: prettier

Pin and update dependencies
  benchmarks/bun.lockb
  benchmarks/package.json
  bun.lockb
Due: prettier

Clean up and expand benchmarks
  benchmarks/src/index.ts
Due: prettier, tsc

Create documentation site
  .gitignore
  docs/babel.config.js
  docs/bun.lockb
  docs/docs/display/_category_.json
  docs/docs/display/format/FormatTable.tsx
  docs/docs/display/format/TableRow.tsx
  docs/docs/display/format/format.mdx
  docs/docs/display/to-date.md
  docs/docs/display/to-string.md
  docs/docs/display/value-of.md
  docs/docs/introduction.md
  docs/docs/manipulation/_category_.json
  docs/docs/manipulation/add.md
  docs/docs/manipulation/end-of.md
  docs/docs/manipulation/get.md
  docs/docs/manipulation/set.md
  docs/docs/manipulation/start-of.md
  docs/docs/manipulation/subtract.md
  docs/docs/utility/_category_.json
  docs/docs/utility/clone.md
  docs/docs/utility/constructor.md
  docs/docs/utility/is-valid.md
  docs/docs/utility/types.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.png
  docs/tsconfig.json
Due: prettier

Create GitHub Pages deployment
  .github/workflows/deploy.yml
Due: prettier

Create GitHub Pages deployment
  docs/bun.lockb
  docs/pnpm-lock.yaml
Due: none
